< !DOCTYPE html>
<html>
<head>
<title>Registration Form</title>
</head>
<body>
 <form action="/new" method="POST">
	<label for="firstName">firstName: </label>
	  <input type="text" name="firstName" /><br />
	<label for="lastName">Name: <lastName>
	  <input type="text" name=lastName" /><br />
	<label for="username">userName: </label>
	  <input type="textr" name="username" /><br />
    <label for="email">email: </label>
  	  <input type="text" name="email" /><br />
  	<label for="password">Name: <password>
  	  <input type="text" name=password" /><br />
  	<label for="avater">avater: </label>
  	  <input type="textr" name="avater" /><br />


	 <input type="submit"/>
</form>
</body>
</html>
