<!DOCTYPE html>
<html>
<head>
<title>Group create</title>
</head>
<body>

<form>
  Group Name:<br>
  <input type="text" name="groupname"><br>
  Group Type:<br>
  <input type="radio" name="type" value="education" checked> Education<br>
  <input type="radio" name="type" value="business"> Business<br>
  <input type="radio" name="type" value="td">Technical Discussion<br>
  <input type="radio" name="type" value="fd" checked> Friendly Discussion<br>
  <input type="radio" name="type" value="gp"> Group Project<br>
  Group Obejectives:<br>
  <input type="text" name="groupobjective"><br>
  
</form>
</body>
</html>

