<html>
<head>
    <title>Front Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="stylepro.css">
    <link rel="stylesheet" href="button.css">
</head>
<body>

	
	<h1 >Create your new group</h1>


<form action="/grouphome" method="POST">
	<p> <font size = "6"> groupname </font> </p>
    <input type = "text" name= "groupName"></br>
    <p> <font size = "6"> type </font> </p>
    <input type = "text" name= "type"></br>
    <p> <font size = "6"> objectives </font> </p>
    <input type = "text" name= "objective"></br>
    <br></br>
    <button	class="button button1">
        Create Group
    </button>
    <br>
    <button	class="button button1">
        <a href = "/homepage" ,"http://example.com/" style="color:#ffffff;">Back to home</a>
    </button>

    <button	class="button button1">
        <a href = "/createPost" ,"http://example.com/" style="color:#ffffff;">See previous Posts</a>
    </button>
    
      
</form>


</body>

</html>