<!DOCTYPE html>
<html>
<head>
	<title>Group List </title>
	<link rel="stylesheet" href="grouplist.css">
	<link rel="stylesheet" href="button.css">
</head>
<body>
 <h1>Group List</h1>
 <h2> Enrolled Groups </h2>
 <table>
	 <tbody>
	 <% for(var i =0; i< infos.length; i++){ %>
	 <% for (var j = 0; j < infos[i].memberIDs.length; j++) { %>
		 <tr> <% if(infos[i].memberIDs[j] == userprofile){ %>
			 <td> <font size="6"> <%= infos[i].groupName %> </font> </td>
		 <% } %>
		 </tr>
	 <% } %>
 <% } %>
	 </tbody>
</table>

<button	class="button button1">
	<a href = "/createPost" ,"http://example.com/" style="color:#ffffff;">Create Post</a>
</button>

<button class="button button1">
		<a href = "/logout","http://example.com/" style="color:#ffffff;">Log Out</a>
</button>

<button class="button button1">
		<a href = "/homepage","http://example.com/" style="color:#ffffff;">Back to Home</a>
</button>


</body>
</html>