<!DOCTYPE html>
<html>
<head>
    <title>Front Page</title>

    <!-- attach our stylesheet -->
    <link rel="stylesheet" href="style(UI).css">
    <link rel="stylesheet" href="button.css">
    
</head>
<body>

    <!-- the header -->
    <header>

        <!-- our main logo -->
        <button class="button button1">
        <a id="(+)" href="/grouphome"  , "http://example.com/" style="color:#ffffff;">
            Add Group(+)
        </a>
        </button>
        <br>
        <button class="button button1">
        <a id="(+)" href="/profile"  , "http://example.com/" style="color:#ffffff;">

            My profile
            </a>
        </button>
        <!-- main navigation links -->
        <nav>

        </nav>

    </header>

    <!-- the content -->
    <main>

        <!-- hero content -->
        <div class="hero">
            <!-- content for the hero -->
            <div class="hero-content">
                <h1 class="hero-title">CSE-327Team95</h1>
                <h1 class="hero-title">Groupee</h1>



            </div>

    </main>

    <!-- the footer -->


</body>
</html>
