<h1>Welcome</h1>

<<<<<<< HEAD
<form action="/grouphome" method="POST">
    <button>Create Group</button>
</form>


=======
>>>>>>> LoginAndReg
<li><a href = "/register">Signup</a></li>
<li><a href = "/logout">Logout</a></li>
<li><a href = "/login">Login</a></li>