<!DOCTYPE html>
<html>
<head>
    <title>Front Page</title>

    <!-- attach our stylesheet -->
    <link rel="stylesheet" href="css/style(UI).css">
</head>
<body>

    <!-- the header -->
    <header>

        <!-- our main logo -->
        <a id="Add Group(+)" href="index.html">

            <span>Add Group(+)</span>
        </a>

        <!-- main navigation links -->
        <nav>

        </nav>

    </header>

    <!-- the content -->
    <main>

        <!-- hero content -->
        <div class="hero">
            <!-- content for the hero -->
            <div class="hero-content">
                <h1 class="hero-title">CSE-327Team95</h1>



            </div>

    </main>

    <!-- the footer -->


</body>
</html>
