<!DOCTYPE html>
<html>
<head>
<title>Profile create</title>
</head>
<body>

<form>
  First name:<br>
  <input type="text" name="fullname"><br>
  User name:<br>
  <input type="text" name="username"><br>
  Email:<br>
  <input type="text" name="email"><br>
  Enrolled List of Group:<br>
  <input type="text" name="eng"><br>
</form>
</body>
</html>

