/* resetting browser stuff */
*     {
  box-sizing: border-box;
}
html,
body   {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
}

/* styling our overall page */
body     {
  background: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}

/* styling our header */
header   {
  background: #222;
  color: #FFF;
  padding: 20px 30px;
}


/* styling our main content */
.hero           {
  min-height: 800px;
  text-align: center;
  background-image: url(sky.jpg);
  background-size: cover;
}
.hero-content   {
  color: #FFF;
  padding-top: 130px;
}
.hero-content h1   {
  font-size: 100px;
  margin: 0;
}
.hero-content p    {
  font-size: 50px;
}
.hero-content a    {
  display: inline-block;
  color: #FFF;
  border: 3px solid #FFF;
  border-radius: 3px;
  padding: 15px 30px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 28px;
}
