<!DOCTYPE html>
<html lang="en">
<head>
  <title>Group</title>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">
  <h1>Welcome to your new group</h1>
  <form action="/action_page.php">
    <div class="form-group">
     
      <input type="text" class="form-control" id="won" placeholder="What's on your name" name="won">
    </div>
    <button type="choosefile" class="btn btn-default">Choose File</button>
    <h2>Create group</h2></br>
     <button type="creategroup" class="btn btn-default">Create Group</button> </form><br>
           <p>Post</p><br>
           
          <p>Created by</p><br>
          
            
       
          <p>Creted date</p><br>
             
          
  </form>
</div>

</body>
</html>
