<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Todo Crud Application</title>
  </head>
  <body>
        <h1> User todo list </h1>

        <table class="table table-inverse">
                <thead>
                  <tr>
                    <th>Things to do</th>
        
          
                  </tr>
                </thead>
          
                <tbody>
                  <% for(var i=0; i < infos.length; i++) { %>
                 <tr>
                     <% if(profile == infos[i].createdby){ %>
          
                   <td><%= infos[i].todoList%></td>
                   <td><button><a href = "/delete/<%= infos[i]._id %>"> Delete </a></button></td>
                 <% } %>
          
                 </tr>
              <% } %>
                </tbody>
          
              </table>

        <h1>Update your todos here</h1>
        <form action="/myToDos" method="POST">
            <input type = "text" name= "todo" placeholder = "update your todo list">
            <button>Add new Todo</button>
        </form>
       
</body{
  background-image: url(dd.jpg);
  height:100vh;
  background-size: cover;
  background-position: center;

}
</html>